/*--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------*/
/*--------------------------- style.css for webnonoPortfolio ---------------------------*/
/*--------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------*/

.header{
    position: absolute;
    background-color: grey;
    width: 20%;
    height: 100%;
}